[user]
	name = Alex Johnson
	email = notalexjohnson@gmail.com
[core]
  pager = less -r
  excludesfile = ~/.global_gitignore
[color]
  diff = true
  status = true
[color "diff"]
  new = yellow
  old = green
[color "status"]
  changed = green
  untracked = cyan
[alias]
  del = branch -D
[init]
  templatedir = ~/.git_template
[status]
  showUntrackedFiles = all
