set editing-mode vi
set bind-tty-special-chars off

Control-k: shell-expand-line
Control-w: backward-kill-word

$if mode=vi
  "\C-l": clear-screen
  "\C-p":history-search-backward
  "\C-n":history-search-forward
  "\C-a":beginning-of-line
  "\C-e":end-of-line
  "\C-f":forward-char
  "\C-b":backward-char
$endif
