set editing-mode vi

$if mode=vi
  "\C-l": clear-screen
  "\C-p":history-search-backward
  "\C-n":history-search-forward
  "\C-a":beginning-of-line
  "\C-e":end-of-line
  Control-u: backward-word
  "\C-f":forward-char
  "\C-b":backward-char
$endif
