snippet div
<div class = "${1:field}">
	${0}
</div>
snippet form 
<form action="${1}" method="${2:get}">
	${4}
	<p><input type="submit" value="${3:Continue &rarr;}" /></p>
</form>
snippet if
<% if ${1} %>
	${2}
<% else %>
<% end %>
snippet ife
<% if ${1} %>
	${2}
<% else %>
<% end %>
snippet 
