snippet l
	{console.log(${1})}
snippet le
	let [${1:}, set$1] = useState(${2:''})
snippet con
	const ${1} = (${2}) => {
		${3}
	}
snippet use
	useEffect((${1}) => {
		${2}
	}, []);
snippet col
	<Column>
		${1}
	</Column>
