snippet desc
	describe ${1} do
		it '${2}' do
			${3}
		end
	end

snippet des
	describe ${1} do
	end

snippet it
	it '${1}' do
		${2}
	end
snippet t
	test '${1}' do
		${2}
	end
snippet be
	before do
		${1}
	end

snippet af
	after do
		${1}
	end

snippet def
	def test_${1}
		${2}
	end

snippet cla
	class ${1:`ToCamelCase(expand('%:t:r'))`} < ${2:ActiveSupport::TestCase}
		${3}
	end
