snippet be
	before do
		${1}
	end

snippet con
	context "${1}" do
		${2}
	end

snippet let
	let(${1}) { ${2} }

snippet do
	do |${1}|
		${2}
	end
snippet doe
	do
		${1}
	end

snippet }
	{ |${1}| ${2} }

snippet def
	def ${1:method_name}
		${2}
	end
